/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
 span.button-url{
    color: #0000FF;
    margin-bottom: 5px !important;
    padding: 5px 0 5px 0 !important;

}

.components-color-palette__clear{
    display: none;
} 

button.url-btn-inserter{
    border: 1px solid #8D96A0;
    border-radius: 5px;
    display: inline-block;
}