/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

// .wp-block-cgb-block-image-clipper  {
//   background: $red;
//   border: 0.2rem solid $black;
//   color: $black;
//   margin: 0 auto;
//   max-width: 740px;
//   padding: 2rem;
// }


.image-clipper{
	.image-clipper{
		border: 1px solid #dddddd;
		overflow: hidden;
		width:auto;
		.import-btn{
			text-align: center;
			width: 100%;
			height: 100%;
		}
		img{
			max-width: none;
		}
	}
}
